@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Roboto+Slab:700|Work+Sans:400,500,800");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:focus, input:focus {
  outline: none; }

*:focus {
  outline: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1.5;
  margin: 0 15px; }
  @media (min-width: 768px) {
    body {
      margin: 0 70px; } }

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    opacity: 0.8; }

aside {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    aside {
      margin-top: 14px; }
      aside:last-of-type {
        margin-top: 8px; } }

section > *,
footer > *,
article > * {
  margin-bottom: 25px; }

section, footer {
  margin-bottom: 70px; }

main {
  margin: auto;
  max-width: 480px; }
  @media (min-width: 768px) {
    main {
      max-width: 640px;
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
      main > header {
        grid-column: 1 / 5; }
      main aside {
        grid-column: 1 / 2; }
      main section {
        grid-column: 2 / 5; }
      main footer {
        grid-column: 2 / 5; } }
  @media (min-width: 1024px) {
    main {
      max-width: 920px;
      grid-template-columns: repeat(5, 1fr); }
      main > header {
        grid-column: 1 / 6; }
      main aside {
        grid-column: 2 / 3; }
      main section {
        grid-column: 3 / 6; }
      main footer {
        grid-column: 3 / 6; } }

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 52px;
  letter-spacing: -4px;
  text-transform: uppercase;
  line-height: 1;
  color: #263238; }
  h1 span {
    color: #455a64; }
  @media (min-width: 768px) {
    h1 {
      font-size: 96px; } }

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 20px;
  color: #90a4ae;
  line-height: 1; }

h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  color: #263238; }
  h3 a {
    color: #263238; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #90a4ae;
  text-transform: uppercase; }

p, table, button, span > span {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #546e7a; }
  p b, table b, button b, span > span b {
    font-weight: 500; }
  p a, table a, button a, span > span a {
    color: #2ecc71; }
  p span, table span, button span, span > span span {
    font-weight: 800; }
  @media (min-width: 768px) {
    p, table, button, span > span {
      font-size: 18px; } }

table {
  line-height: 2; }

button {
  color: #fff; }

ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff; }

main > header {
  margin: 110px 0; }
  @media (min-width: 768px) {
    main > header {
      margin: 110px 0 200px 0; } }

h1 {
  margin-left: -3px; }
  @media (min-width: 768px) {
    h1 {
      margin-left: -5px; } }

section > h3 img {
  position: relative;
  top: 3px;
  padding: 0 5px;
  height: 22px; }

section table {
  width: 100%; }

article {
  margin-bottom: 50px; }
  article header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    article header > * {
      display: inline-block; }
    article header h3 {
      text-transform: uppercase; }
    article header img {
      width: 16px;
      height: 16px; }
      @media (min-width: 768px) {
        article header img {
          width: 18px;
          height: 18px; } }
    article header > a {
      padding-top: 4px; }
  article > a {
    display: block;
    text-align: center; }
    article > a img {
      max-height: 200px; }
  article:last-of-type {
    margin-bottom: 25px; }

ul {
  cursor: default; }
  ul li {
    display: inline-block;
    background-color: #26c6da;
    padding: 1px 3px 0 3px;
    border-radius: 2px;
    margin-right: 2px;
    margin-bottom: 6px; }
    ul li:first-of-type {
      background-color: #0097A7; }

button {
  background-color: #2ecc71;
  padding: 10px 25px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

footer table {
  width: 100%;
  margin-top: 50px; }

footer img {
  width: 20px;
  height: 20px; }
  @media (min-width: 768px) {
    footer img {
      width: 30px;
      height: 30px; } }

article {
  margin-bottom: 50px; }
  article header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    article header > * {
      display: inline-block; }
    article header h3 {
      text-transform: uppercase; }
    article header img {
      width: 16px;
      height: 16px; }
      @media (min-width: 768px) {
        article header img {
          width: 18px;
          height: 18px; } }
    article header > a {
      padding-top: 4px; }
  article > a {
    display: block;
    text-align: center; }
    article > a img {
      max-height: 200px; }
  article:last-of-type {
    margin-bottom: 25px; }

ul {
  cursor: default; }
  ul li {
    display: inline-block;
    background-color: #26c6da;
    padding: 1px 3px 0 3px;
    border-radius: 2px;
    margin-right: 2px;
    margin-bottom: 6px; }
    ul li:first-of-type {
      background-color: #0097A7; }

button {
  background-color: #2ecc71;
  padding: 10px 25px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  button:hover {
    opacity: 0.8; }

span > span {
  position: absolute;
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  cursor: default; }

section > h3 {
  position: relative; }
  section > h3 > span > span {
    top: -67px; }
    section > h3 > span > span::after {
      content: '';
      top: 100%;
      left: 50%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-top-color: #2ecc71;
      border-width: 10px;
      margin-left: -10px; }
  section > h3 > span:first-of-type span {
    left: 7px; }
  section > h3 > span:last-of-type span {
    left: 87px; }
  section > h3 > span:hover > span {
    visibility: visible;
    opacity: 1;
    top: -62px; }

section header {
  position: relative; }
  section header > span > span {
    top: -8px;
    right: 45px; }
    @media (min-width: 768px) {
      section header > span > span {
        top: -10px; } }
    section header > span > span::after {
      content: '';
      top: 50%;
      left: 100%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-left-color: #2ecc71;
      border-width: 10px;
      margin-top: -10px; }
  section header > span:hover > span {
    visibility: visible;
    opacity: 1;
    right: 40px; }

/*# sourceMappingURL=main.css.map */